<h1>Parent/Root component(app component)</h1>



<app-nameofcomponent  [loggedIn]=" userLoggedIn"></app-nameofcomponent>






<!-- <router-outlet></router-outlet> -->

<!--interpolation -->
<h1>{{title}}</h1> 
<!--Property BInding-->
<div>
  <img [src]="image" alt="angular picture" height="300px" width="300px">  
</div>

<!--Event Handling--> 

<div>
  <button (click)="incrementCount()">Click Here</button>
  <p> Clicked {{count}}</p>
</div>

<!--Two-Way Binding -->

<div>
  <input type="text" [(ngModel)]="firstname">
  <p> Welcome Two way binding{{firstname}}</p>
</div>
<!--Two-way split binding-->

<div>
  <input type="text" [ngModel]="secondname" (ngModelChange)="greetUser($event)">
  <p> Welcome Two way split{{secondname}}</p>
</div>

<!--Getter & Setter-->

<div>
  <input type="text" [(ngModel)]="thirdname">
  <p> Welcome Getter & Setter {{thirdname}}</p>
</div>


<div>
  <input  #nameRef  type="text" [(ngModel)]="fourthname">
  <p> Welcome Ref Type{{fourthname}}</p>
</div>




